.education, .education ul {
  list-style-type : none
}

.education > li:first-child {
  font-weight : bold;
  font-size : 3vh;
}

.school {
  font-weight : bold;
}

.results {
  font-style : italic;
}
